libraries.txt
exceldraw/
data/
hack_env/
.DS_Store
processing copy.ipynb
.env
train_data.csv
questions.csv
submission.csv
old_code.py
submissions
check_data.ipynb
prepared_submissions
bin/
.DS_Store
hf_cache/
submission_rerank.csv
__pycache__/
*.py[cod]
src/__init__.py